/**
* Hits
*/

// .ais-Hits {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
//   gap: calc(1vmin + 2.75rem);
// }

.ais-Hits-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: calc(1vmin + 0.5rem);
}



.ais-Hits-item,
.ais-InfiniteHits-item {
  // align-items: center;
  // border-radius: 3px 3px 0 0;
  // background: $white;
  // box-shadow: 0 0 0 1px rgba($green900, 0.05), 0 1px 3px 0 rgba($green900, 0.15);
  // display: flex;
  // font-size: 0.875rem;
  // font-weight: 400;
  // line-height: 1.25rem;
  // padding: 1.5rem;

  border: 1px solid $grey100;
  border-radius: 0.75rem;
  padding: 1.5rem;
  background-color: var(--gray-999_40);
  box-shadow: 0px 6px 3px rgba(9, 11, 17, 0.01), 0px 4px 2px rgba(9, 11, 17, 0.01), 0px 2px 2px rgba(9, 11, 17, 0.02), 0px 0px 1px rgba(9, 11, 17, 0.03);

  h2 {
    font-size: clamp(0.75rem, 0.75rem + 0.8974vw, 1.125rem);
  }

  h3 {
    font-size: clamp(0.75rem, 0.65rem + 0.8974vw, 0.85rem);
  }


  p {
    color: #9698c3;
  }

}

// .ais-Hits-item:first-of-type,
// .ais-InfiniteHits-item:first-of-type {
//   border-radius: 3px 3px 0 0;
// }

// .ais-Hits-item:last-of-type,
// .ais-InfiniteHits-item:last-of-type {
//   border-radius: 0 0 3px 3px;
// }

// .ais-Hits-item:only-of-type,
// .ais-InfiniteHits-item:only-of-type {
//   border-radius: 3px;
// }

// .ais-InfiniteHits-loadMore,
// .ais-InfiniteHits-loadPrevious {
//   display: flex;
//   margin: 1rem auto;
// }  